.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    z-index: 2;
    background-color: #991a40;
}

.logoImage {
    width: 20%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}